<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/static/css/style.css">
    <title>{{title}}</title>
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Поиск лекарств</a>
        {% if current_user.is_authenticated %}
        <p>
            <a class="navbar-brand" href="/profile">{{ current_user.name }}</a>
            <button class="btn btn-dark button">Справка</button>
        </p>
        {% else %}
        <p>
            <a class="btn btn-dark" href="/register">Зарегистрироваться</a>
            <a class="btn btn-dark" href="/login">Войти</a>
            <button class="btn btn-dark button">Справка</button>
        </p>
        {%endif%}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer class="footer">
    <div class="container-fluid p-3 p-md-5">
        <p class="footer-author">Тут должно быть что-то умное и полезное</p>
        <p class="footer-author"><br>
            <a href="https://vk.com/pharmabot" target="_blank"
               class="footer-author">Вконтакте</a>
        </p>
        <p class="footer-author">
            <a href="https://tele.gs/project_pharm_bot" target="_blank" class="footer-author">Телеграм</a>
        </p>
        <p><br>©
        <a href="https://vk.com/anyua2004" target="_blank" class="footer-author">Коган
        Анна</a>,
        <a href="https://vk.com/artmgreen" target="_blank" class="footer-author">Матевосян Артем</a> 2020</p>
    </div>
</footer>
<script src="/static/js/script.js"></script>
</body>
</html>
