{% extends "base.html" %}

{% block content %}

<div class="instruction">
    <h2>Инструкция по отправке остатков препаратов</h2><br>
    <p>Для того, чтобы наши чат-боты выдавали пользователям актуальную информацию, Вам необходимо
        присылать информацию об остатках препаратов в апетке в формате .json. На страничке Вашего профиля
        есть ссылка, по которой необходимо присылать файл. Структура файла должны быть следующей:</p>
</div>
<div class="instruction_color">
    <pre>{
	"password":"your password",
	"data":[
		{
			"barcode":4607013581074,
			"cost":130,
			"number":1

		},
		{
			"barcode":4605964004123,
			"cost":267,
			"number":1

		},
		{
			"barcode":9006968004013,
			"cost":399,
			"number":1

		}
	]
}</pre>
</div>
{% endblock %}