{% extends "base.html" %}

{% block content %}
<h1>Профили аптек</h1>
{%for el in data%}
<h4>{{el['name']}}</h4>
<table class="table table-bordered">
    <tr class="table-default">
        <td>City</td>
        <td>Address</td>
        <td>Hours of work</td>
        <td>Phone</td>
    </tr>
    <tr class="table-primary">
        <td>{{ el['city'] }}</td>
        <td>{{ el['address'] }}</td>
        <td>{{ el['hours'] }}</td>
        <td>{{ el['phone'] }}</td>
    </tr>
</table>
{%endfor%}
{% endblock %}