{% extends "base.html" %}

{% block content %}
<!--<div class="col-auto my-1">
    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>-->
<h1>Профили аптек</h1>

<table class="table table-bordered">
    <thead>
    <tr class="table-info">
        <th scope="col">City</th>
        <th scope="col">Address</th>
        <th scope="col">Hours of work</th>
        <th scope="col">Phone</th>
    </tr>
    </thead>
    <tbody>
    {%for el in data%}
    <tr>
        <th colspan="4">{{el['name']}}</th>
    </tr>
    <tr class="table-primary">
        <td>{{el['city']}}</td>
        <td>{{el['address']}}</td>
        <td>{{el['hours']}}</td>
        <td>{{el['phone']}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>
{% endblock %}