{% extends "base.html" %}

{% block content %}

<div class="instruction">
    <h2>Условия регистрации</h2><br>
    <p>1. Вы регистрируете аптеку.<br>2. Зарегистрировав аптеку, зайдя в систему и нажав на название
        аптеки в верхней части экрана, вы увидите ссылку, по которой необходимо отправлять остатки
        препаратов в Вашей аптеке. Это необходимо для того, чтобы пользователи видели актуальную
        информацию об интересующих их препаратах.<br><a href="/instruction">Инструкция по отправке
            остатков препаратов</a></p>
    <p class="p">
        <a class="btn btn-outline-danger" href="/">Я не хочу регистрироваться</a>
        <a class="btn btn-outline-success" href="/register">Я хочу зарегистрироваться</a>
    </p>
</div>

{% endblock %}